.home {
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enhance {
  margin-top: 1em;
}

.button button {
  padding: 1rem 3rem;
  border: 1px solid blue;
  background-color: white;
  color: blue;
}

.button button:hover {
  color: white;
  cursor: pointer;
  background-color: blue;
}

.reset button {
  color: red;
  border-color: red;
}

.reset button:hover {
  background-color: red;
}

.button {
  margin-bottom: 1em;
  display: inline-block;
  margin-right: 1em;
}

.total {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
  text-align: center;
}

.observer {
}
